<div class="card">
  <div class="card-header">
      <h6>Table Contact</h6>
  </div>    
<div class = "card-body">
<div class="container mt-4">
  <% if (contact.length < 1) { %>
    <div class="alert alert-info" role="alert">
      No contacts available.
    </div>
  <% } else { %>
    <table class="table table-bordered table-striped table-hover">
      <thead class="thead-ligth">
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% contact.forEach(function(contact) { %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.email %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } %>
</div>
</div>
</div>

  <!-- <script>
    $(document).ready(function () {
      $('#contactTable').DataTable();
    });
    
  </script> -->
