<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color:   #f7f3f3;
            margin: 0;
            padding: 0;
        }

        .navbar {
            background-color: #063b44;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .navbar a {
            color: white;
            text-decoration: none;
            padding: 10px;
            transition: color 0.3s;
        }

        .navbar a:hover {
            color: #71fff3;
        }

        .navbar-right {
            margin-left: auto;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <div class="navbar-right">
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
    </div>

    <h1>This is home page</h1>
    <p>Welcome to my page <%= nama %></p>
</body>
</html>